h3 {
  font-size: 1.1em;
}

.appointment-card {
  margin: 12px;
  padding: 10px;
}

.empty-state {
  padding-top: 45px;
  text-align: center;
  color: #fffff0;
}

.empty-state h2 {
  padding-top: 15px;
}

.card-content {
  margin-left: 10px;
}