h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.1em;
}

.appointment-card {
  margin: 12px;
  padding: 10px;
}

.empty-state {
  padding-top: 45px;
  text-align: center;
  color: #fffff0;
}

.empty-state h2 {
  padding-top: 15px;
}

.pet-details {
  margin: 10px 0 0 15px;
  line-height: .8em;
}

.show {
  overflow: visible;
  height: auto;
}