h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.1em;
}

.appointment-card {
  margin: 12px;
  padding: 10px;
}

.empty-state {
  padding-top: 45px;
  text-align: center;
  color: #fffff0;
}

.empty-state h2 {
  padding-top: 15px;
}


.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
